* {
    border: 1px solid blue;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

button {
    font-family: 'Space Mono', monospace;
    font-weight: bold;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
    border-width: 2px;
    border-color: gray;
    background-color: white;
    border-radius: 5px;
}

.cancel-nav {
    visibility: hidden;
    position: fixed;
    right: 15px;
    top: 35px;
    z-index: 2;
}

.cancel-visible {
    visibility: visible;
}

#map {
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
    transition: height 0.2s;
}

.map-size {
    width: 100vw;
    height: 93vh;
}

.resize-map {
    height: 70vh;
}

#info-heading{
    font-weight: bold;
    font-family: 'Space Mono', monospace;
}

#moreInfo{
    display: flex;
    justify-content: center;
}

.nav-info {
    width: 100vw;
    height: 30vh;
    position: fixed;
    z-index: 2;
    transition: height 0.2s;
    font-family: 'Space Mono', monospace;
    cursor: pointer;
}

.nav-info .nav-info-icon {
    display: flex;
    justify-content: flex-end;
}

.nav-info p {
    margin-top: 0px;
    padding-left: 15px;
    padding-right: 15px;
}

.hide-nav-info {
    bottom: -4.5vh;
    height: 10.5vh;
}


/*Show panorama in a square of 80 viewport width*/

#pano {
    width: 80vw;
    height: 80vw;
    border-radius: 10px;
    max-width: 100%;
    max-height: 100%;
}


/* Menu container for small screens */

.menu-container {
    width: 80vw;
    height: 100%;
    position: fixed;
    background: white;
    overflow: hidden;
    top: 0px;
    left: -80vw;
    z-index: 2;
}

.menu-container h2,
.results-container h2{
    font-family: 'Bungee Shade', cursive;
    font-size: 25px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.results-container h2{
    font-size: 20px;
}

.results-container {
    width: 80vw;
    height: 100%;
    position: fixed;
    background: white;
    overflow: hidden;
    top: 0px;
    right: -85vw;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.show-results {
    right: 0vw;
}


/*Hidden checkbox*/

.nav-trigger,
.results-trigger {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}


/*Hamburger icon*/

label[for="nav-trigger"] {
    position: fixed;
    bottom: 5px;
    z-index: 3;
    cursor: pointer;
}

.nav-menu{
    left: 5px;
}

.nav-menu-hide{
    left: -50vw;
}

/*Menu open*/

.nav-trigger:checked + label {
    left: 80vw;
}


/*Menu open show container*/

.nav-trigger:checked ~ .menu-container {
    left: 0px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
}


/*Menu open animation*/

.nav-trigger + label,
.menu-container {
    transition: left 0.2s;
}


/*Search area*/

.search-container,
.filter-container {
    display: flex;
    justify-content: space-around;
}

.search-container input,
.filter-container input{
    font-family: 'Space Mono', monospace;
}

.filter-container{
    padding-top: 10px;
}

.search-box {
    width: 50vw;
    height: 30px;
    border: 1px solid #999;
    border-radius: 3px;
}

.search-marker {
    width: 32%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.search-marker span {
    font-size: 15px;
}


/*The markers list*/

.markers-list,
.types-list,
.fsquare-items {
    display: inline-block;
    box-sizing: border-box;
    padding-left: 10px;
    list-style: none;
}

.types-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.types-list li{
    display: inline;
}

.markers-list{
    margin-top: 0px;
}

.markers-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 5px;
    width: 100%;
}

.marker-check{
    display: flex;
    align-items: center;
    padding-top: 5px;
}

.listings{
    font-family: 'Space Mono', monospace;
}

.markers-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select-all{
    display: inline-block;
    padding-top: 10px;
    padding-left: 10px;
}

.fsquare-items {
    margin-top: 0px;
    margin-bottom: 0px;
}

.list-items {
    max-width: 100%;
    cursor: pointer;
}


/*The foursquare results list*/

.fsquare-items li {
    font-family: monospace;
    display: inline-block;
    list-style-type: none;
    background-color: rgba(51, 131, 211, 0.27);
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 5px;
    cursor: pointer;
}


/*The foursquare attribution*/

.fsquare-attrib,
.wiki-attrib {
    font-size: 10px;
    padding-right: 5px;
    background-color: Azure;
    display: flex;
    justify-content: flex-end;
}


/*The details from foursquare api*/

.fsquare-details p {
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
}

.fsquare-details div {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.fsquare-showmap {
    border-color: white;
    border-radius: 5px;
    height: 30px;
    width: 70%;
}

.wiki-items {
    padding-left: 10px;
}

.wiki-items li {
    display: block;
    list-style-type: none;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 5px;
    background-color: rgba(51, 131, 211, 0.27);
    font-family: 'Space Mono', monospace;
    cursor: pointer;
}

.wiki-links a:link {
    color: #99ccff;
}

.wiki-links a:visited {
    color: #0066cc;
}

.wiki-links a:hover {
    color: #cce6ff;
}

.wiki-links a:active {
    color: #66ffcc;
}

.marker-operations {
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
}

.marker-operations button {
    height: 30px;
    width: 45%;
}

#accordion div {
    padding: 1em 0.5em;
}

.filter-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 5px;
    padding-top: 5px;
}

.filter-items span{
    background-color: gray;
    padding: 2px 2px 2px 2px;
    margin: 2px 2px 2px 2px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.filter-items span i{
    font-size: 15px;
}