* {
    /*border: 1px solid blue;*/
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

button {
    font-family: 'Space Mono', monospace;
    font-weight: bold;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
    border-width: 2px;
    border-color: gray;
    background-color: white;
    border-radius: 5px;
}

.show-InfoContent{
    display: none;
}

.cancel-nav {
    visibility: hidden;
    position: fixed;
    right: 15px;
    top: 35px;
    z-index: 2;
    cursor: pointer;
}

.cancel-visible {
    visibility: visible;
}

#map {
    position: relative;
    top: 0px;
    z-index: 1;
    transition: height 0.2s;
}

.map-size {
    left: 0px;
    width: 100vw;
    height: 93vh;
}

.resize-map {
    height: 70vh;
}

#info-heading {
    font-weight: bold;
    font-family: 'Space Mono', monospace;
}

#moreInfo {
    display: flex;
    justify-content: center;
}

.nav-info {
    width: 100vw;
    height: 30vh;
    position: fixed;
    z-index: 2;
    transition: height 0.2s;
    font-family: 'Space Mono', monospace;
    cursor: pointer;
}

.nav-info .nav-info-icon {
    display: flex;
    justify-content: flex-end;
}

.nav-info p {
    margin-top: 0px;
    padding-left: 15px;
    padding-right: 15px;
}

.nav-info p span{
    display: block;
}

.hide-nav-info {
    bottom: -4.5vh;
    height: 10.5vh;
}


/*Show panorama in a square of 80 viewport width*/

#pano {
    width: 80vw;
    height: 80vw;
    border-radius: 10px;
    max-width: 100%;
    max-height: 100%;
    margin-left: 15px;
    margin-right: 15px;
}


/* Menu container for small screens */

.menu-container {
    width: 80vw;
    height: 100%;
    position: fixed;
    background: white;
    overflow: auto;
    top: 0px;
    left: -80vw;
    z-index: 2;
}

.menu-container h2,
.results-container h2 {
    font-family: 'Bungee Shade', cursive;
    font-size: 23px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.results-container h2 {
    font-size: 20px;
    padding-left: 5px;
}

.results-container {
    width: 80vw;
    height: 100%;
    position: fixed;
    background: white;
    overflow: hidden;
    top: 0px;
    right: -85vw;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.show-results {
    right: 0vw;
}


/*Third party results trigger*/

.moreInfo-button {
    margin-top: 15px;
    margin-bottom: 15px;
}


/*Hidden checkbox*/

.nav-trigger,
.results-trigger {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}


/*Hamburger icon*/

label[for="nav-trigger"] {
    position: fixed;
    bottom: 5px;
    z-index: 3;
    cursor: pointer;
}

.nav-menu {
    left: 5px;
}

.nav-menu-hide {
    left: -50vw;
}


/*Menu open*/

.nav-trigger:checked + label {
    left: 80vw;
}


/*Menu open show container*/

.nav-trigger:checked ~ .menu-container {
    left: 0px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
}


/*Menu open animation*/

.nav-trigger + label,
.menu-container {
    transition: left 0.2s;
}


/*Search area*/

.search-container,
.filter-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search-container input,
.filter-container input {
    font-family: 'Space Mono', monospace;
}

.filter-container {
    padding-top: 10px;
}

.search-box {
    width: 50vw;
    height: 30px;
    border: 1px solid #999;
    border-radius: 3px;
}

.search-marker {
    width: 35%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.search-marker span {
    font-size: 15px;
}


/*The markers list*/

.markers-list,
.types-list,
.fsquare-items {
    display: inline-block;
    box-sizing: border-box;
    padding-left: 10px;
    list-style: none;
}

.types-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.types-list li {
    display: inline;
}

.types-list i {
    cursor: pointer;
}

.markers-list {
    margin-top: 0px;
}

.markers-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 5px;
    width: 100%;
}

.marker-check {
    display: flex;
    align-items: center;
    padding-top: 5px;
}

.listings {
    font-family: 'Space Mono', monospace;
}

.markers-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select-all {
    display: inline-block;
    padding-top: 10px;
    padding-left: 10px;
}

.list-items {
    max-width: 100%;
    cursor: pointer;
}


/*The foursquare results list*/

.fsquare-items {
    margin-top: 0px;
    margin-bottom: 0px;
}

.fsquare-items li {
    font-family: monospace;
    display: inline-block;
    list-style-type: none;
    background-color: rgba(51, 131, 211, 0.27);
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 5px;
    cursor: pointer;
}


/*The foursquare attribution*/

.fsquare-attrib,
.wiki-attrib {
    font-size: 10px;
    padding-right: 5px;
    background-color: Azure;
    display: flex;
    justify-content: flex-end;
}


/*The details from foursquare api*/

.fsquare-details{
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
}

.fsquare-details div {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.fsquare-showmap {
    border-color: white;
    border-radius: 5px;
    height: 30px;
    width: 70%;
}


/*The wikipedia items*/

.wiki-items {
    padding-left: 10px;
}

.wiki-items li {
    display: block;
    list-style-type: none;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 5px;
    background-color: rgba(51, 131, 211, 0.27);
    font-family: 'Space Mono', monospace;
    cursor: pointer;
}

.wiki-links a:hover{
    color: #007fff;
}

.marker-operations {
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
}

.marker-operations button {
    height: 30px;
    width: 45%;
}

#accordion div {
    padding: 1em 0.5em;
}

/*The filter options*/

.filter-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 5px;
    padding-top: 5px;
}

.filter-items span {
    background-color: #e1ecf4;
    padding: 2px 2px 2px 2px;
    margin: 2px 2px 2px 2px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.filter-items span i {
    font-size: 15px;
    cursor: pointer;
}

.markers-container i {
    cursor: pointer;
}


/*Small devices*/

@media screen and (min-width: 400px) {
    .search-marker {
        width: 32%;
    }
    .menu-container h2 {
        font-size: 25px;
    }
    .fsquare-details{
        font-size: 15px;
    }
}


/*Medium size devices*/

@media screen and (min-width: 768px) {
    /*The info area*/
    .hide-nav-info {
        bottom: -3.5vh;
        height: 8vh;
    }
    .nav-info-icon {
        font-size: 40px;
    }
    .nav-info p {
        font-size: 30px;
        padding-left: 45px;
    }
    .map-size {
        height: 95.5vh;
    }
    .resize-map {
        height: 70vh;
    }
    /*The hamburger icon*/
    .nav-menu span {
        font-size: 40px;
    }
    label[for="nav-trigger"] {
        bottom: 3px;
    }
    .menu-container h2 {
        font-size: 50px;
    }
    /*The results container*/
    .results-container h2 {
        font-size: 40px;
    }
    #accordion h3 {
        font-size: 35px;
    }
    /*Foursquare results*/
    .fsquare-items {
        font-size: 30px;
    }
    .fsquare-details{
        font-size: 25px;
    }
    .fsquare-showmap {
        height: 70px;
        font-size: 35px;
    }
    .fsquare-attrib,
    .wiki-attrib {
        font-size: 25px;
    }
    .cancel-nav span {
        font-size: 42px;
    }
    /*Wikipedia items*/
    .wiki-links {
        font-size: 35px;
    }
    /*The menu*/
    .marker-operations button {
        height: 45px;
        font-size: 25px;
    }
    .search-container,
    .filter-container {
        height: 50px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .search-container input,
    .filter-container input {
        height: 45px;
        font-size: 25px;
    }
    .search-marker {
        height: 45px;
        width: 25%;
    }
    .search-marker span {
        font-size: 25px;
    }
    .types-list i {
        font-size: 45px;
    }
    .listings {
        font-size: 45px;
    }
    .markers-container i {
        font-size: 45px;
    }
    .select-all input,
    .marker-check input {
        width: 30px;
        height: 30px;
    }
    /*The info bubble*/
    #info-heading {
        font-size: 35px;
    }
    .moreInfo-button {
        height: 52px;
        font-size: 28px;
    }
    .filter-items span {
        font-size: 30px;
    }
    .filter-items span i {
        font-size: 40px;
    }
}

@media screen and (min-width: 768px) and (max-height: 980px) {
    .nav-menu span {
        font-size: 32px;
    }
    .nav-info-icon {
        font-size: 32px;
    }
    label[for="nav-trigger"] {
        bottom: -5px;
    }
}


/*For wide screen devices*/

@media screen and (min-width: 820px) and (max-height: 1359px) {
    /*Nav info*/
    .nav-info {
        width: 40vw;
        left: 0px;
        bottom: 0vh;
        background-color: white;
        z-index: 4;
    }
    .nav-info-icon {
        font-size: 25px;
    }
    .hide-nav-info {
        height: 4vh;
    }
    .nav-info p {
        font-size: 15px;
    }
    .map-size {
        left: 40vw;
        width: 60vw;
    }
    .map-size,
    .resize-map {
        height: 100vh;
    }
    .hide-nav-info {
        height: 4.5vh;
    }
    /*Hide the hamburger menu*/
    label.nav-menu {
        visibility: hidden;
    }
    /*The Menu*/
    .menu-container {
        width: 40vw;
        left: 0px;
    }
    .menu-container h2,
    .results-container h2 {
        font-size: 22px;
    }
    .marker-operations button {
        font-size: 15px;
        height: 30px;
    }
    .marker-check {
        padding-top: 0px;
    }
    .select-all {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding-top: 0px;
    }
    .select-all input,
    .marker-check input {
        width: 15px;
        height: 15px;
    }
    .search-container input,
    .filter-container input {
        height: 30px;
        font-size: 15px;
    }
    .search-box {
        width: 22vw;
    }
    .search-marker {
        height: 30px;
        width: 30%;
    }
    .search-marker span {
        font-size: 15px;
    }
    .types-list i {
        font-size: 30px;
    }
    .listings {
        font-size: 15px;
    }
    .markers-container i {
        font-size: 20px;
    }
    .filter-items span {
        font-size: 15px;
    }
    .filter-items span i {
        font-size: 20px;
    }
    /*The infobubble*/
    #pano {
        width: 40vw;
        height: 40vw;
    }
    .moreInfo-button {
        height: 30px;
        font-size: 15px;
    }
    .moreInfo-button {
        margin-bottom: 0px;
    }
    #info-heading {
        font-size: 25px;
    }
    /*The results container*/
    .results-container {
        width: 35vw;
    }
    #accordion h3 {
        font-size: 20px;
    }
    /*The foursquare results*/
    .fsquare-items {
        font-size: 15px;
    }
    .fsquare-details{
        font-size: 14px;
    }
    .fsquare-showmap {
        height: 34px;
        font-size: 17px;
    }
    .fsquare-attrib,
    .wiki-attrib {
        font-size: 10px;
    }
    .wiki-links {
        font-size: 15px;
    }
}

@media screen and (min-width: 960px) {
    .map-size {
        width: 65vw;
        left: 35vw;
    }
    .nav-info {
        width: 35vw;
    }
    .menu-container {
        width: 35vw;
    }
    .search-box {
        width: 20vw;
    }
}

@media screen and (min-width: 1100px) {
    .map-size {
        width: 70vw;
        left: 30vw;
    }
    .nav-info {
        width: 30vw;
    }
    .menu-container {
        width: 30vw;
    }
    .search-box {
        width: 17vw;
    }
}

@media screen and (min-width: 1250px) {
    .map-size {
        width: 75vw;
        left: 25vw;
    }
    .nav-info {
        width: 25vw;
    }
    .menu-container {
        width: 25vw;
    }
    .search-box {
        width: 15vw;
    }
    .results-container {
        width: 25vw;
    }
}


/*Large screen size devices*/

@media screen and (min-width: 1024px) and (min-height: 1360px) {
    /*The info area*/
    .hide-nav-info {
        bottom: -3.5vh;
        height: 7.5vh;
    }
    .nav-info-icon {
        font-size: 50px;
    }
    .nav-info {
        width: 100vw;
    }
    .menu-container {
        width: 80vw;
    }
    .nav-info p {
        font-size: 45px;
        padding-left: 45px;
    }
    .map-size {
        width: 100vw;
        left: 0vw;
    }
    /*The hamburger icon*/
    .nav-menu span {
        font-size: 50px;
    }
    .menu-container h2 {
        font-size: 65px;
    }
    /*The results container*/
    .results-container h2 {
        font-size: 50px;
    }
    #accordion h3 {
        font-size: 45px;
    }
    /*Foursquare results*/
    .fsquare-items {
        font-size: 40px;
    }
    .fsquare-details{
        font-size: 35px;
    }
    .fsquare-showmap {
        height: 90px;
        font-size: 45px;
    }
    .fsquare-attrib,
    .wiki-attrib {
        font-size: 32px;
    }
    .cancel-nav span {
        font-size: 50px;
    }
    /*Wikipedia items*/
    .wiki-links {
        font-size: 45px;
    }
    /*The menu*/
    .marker-operations button {
        height: 80px;
        font-size: 40px;
    }
    .search-container,
    .filter-container {
        height: 80px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .search-container input,
    .filter-container input {
        height: 65px;
        font-size: 32px;
    }
    .search-marker {
        height: 65px;
        width: 25%;
    }
    .search-marker span {
        font-size: 32px;
    }
    .search-marker i {
        font-size: 50px;
    }
    .types-list i {
        font-size: 70px;
    }
    .listings {
        font-size: 50px;
    }
    .markers-container i {
        font-size: 60px;
    }
    .select-all input,
    .marker-check input {
        width: 40px;
        height: 40px;
    }
    /*The info bubble*/
    #info-heading {
        font-size: 50px;
    }
    .moreInfo-button {
        height: 70px;
        font-size: 35px;
    }
    /*The selected filters*/
    .filter-items span {
        font-size: 40px;
    }
    .filter-items span i {
        font-size: 55px;
    }
    .search-box {
        width: 50vw;
    }
}
